<!DOCTYPE html>
<html lang="en">
{{!-- itemscope="" itemtype="http://schema.org/WebSite" --}}
<head >
	{{!-- <base href="https://thienanlogisticsbd.com/"> --}}
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>CÔNG TY TNHH DỊCH VỤ VẬN TẢI & XUẤT NHẬP KHẨU THIÊN ÂN LOGISTICS</title>
	<meta name="ROBOTS" content="INDEX,FOLLOW">
	<meta content="nhận khai hải quan, đại lý hải quan, xuất nhập khẩu hàng hóa tại dĩ an, bình dương"
		name="description">
	<meta
		content="Đại lý hải quan tại dĩ an bình dương, trung chuyển container, xếp dỡ , dịch vụ xuất nhập khẩu, dịch vụ hải quan"
		name="keywords">
	<!--Meta seo web-->
	<!--Meta Geo-->
	{{!-- <meta name="DC.title" content="CÔNG TY TNHH DỊCH VỤ VẬN TẢI & XUẤT NHẬP KHẨU THIÊN ÂN LOGISTICS">
	<meta name="geo.region" content="VN">
	<meta name="geo.placename" content="Khu phố Đông Thành phường Tân Đông Hiệp Thành phố Dĩ an tỉnh Bình Dương">
	<meta name="geo.position" content="10.9171501:106.7700418">
	<meta name="ICBM" content="10.9171501,106.7700418">
	<meta name="DC.identifier" content="http://thienanlogisticsbd.com/"> --}}
	<!--Meta Geo-->

	<!--Meta facebook-->
	{{!-- <meta property="og:image" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="http://thienanlogisticsbd.com/">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="CÔNG TY TNHH DỊCH VỤ VẬN TẢI & XUẤT NHẬP KHẨU THIÊN ÂN LOGISTICS">

	<link rel="canonical" href="https://thienanlogisticsbd.com:443/"> --}}

	<!--Meta facebook-->
	<!-- Favicons -->
	<link href="/assets/img/favicon.png" rel="icon">
	<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Main CSS File -->
	<link href="/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

	<header id="header" class="header fixed-top">

		<div class="topbar d-flex align-items-center">
			<div class="container d-flex justify-content-center justify-content-md-between">
				<div class="contact-info d-flex align-items-center">
					<i class="bi bi-envelope d-flex align-items-center"><a
							href="mailto:contact@example.com">thienanlogisticsbd@gmail.com</a></i>
					<i class="bi bi-phone d-flex align-items-center ms-4"><span>+84 39 7982 894</span></i>
					{{!-- <i class="bi bi-phone d-flex align-items-center ms-4"><span>+84 96 6427 653</span></i> --}}
				</div>
				<div class="social-links d-none d-md-flex align-items-center">
					{{!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a> --}}
					<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
					{{!-- <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> --}}
					{{!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> --}}
				</div>
			</div>
		</div><!-- End Top Bar -->

		<div class="branding d-flex align-items-cente">

			<div class="container position-relative d-flex align-items-center justify-content-between">
				<a href="index.html" class="logo d-flex align-items-center">
					<!-- Uncomment the line below if you also wish to use an image logo -->
					<img src="assets/img/logo.png" alt="">
					{{!-- <h1 class="sitename">Thienanlogistics</h1> --}}
					{{!-- <span>.</span> --}}
				</a>

				<nav id="navmenu" class="navmenu">
					<ul>
						<li><a href="#hero" class="active">{{Home}}<br></a></li>
						<li><a href="#about">{{About}}</a></li>
						<li><a href="#services">{{Service}}</a></li>
						<li><a href="#portfolio">FAQ</a></li>
						{{!-- <li><a href="#team">Team</a></li> --}}
						{{!-- <li><a href="blog.html">Blog</a></li> --}}
						{{!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i
									class="bi bi-chevron-down toggle-dropdown"></i></a>
							<ul>
								<li><a href="#">Dropdown 1</a></li>
								<li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
											class="bi bi-chevron-down toggle-dropdown"></i></a>
									<ul>
										<li><a href="#">Deep Dropdown 1</a></li>
										<li><a href="#">Deep Dropdown 2</a></li>
										<li><a href="#">Deep Dropdown 3</a></li>
										<li><a href="#">Deep Dropdown 4</a></li>
										<li><a href="#">Deep Dropdown 5</a></li>
									</ul>
								</li>
								<li><a href="#">Dropdown 2</a></li>
								<li><a href="#">Dropdown 3</a></li>
								<li><a href="#">Dropdown 4</a></li>
							</ul>
						</li> --}}
						<li><a href="#recent-posts">Blog</a></li>
					</ul>
					<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
				</nav>

			</div>

		</div>

	</header>

	<main class="main">
		{{{ body }}}
	</main>

	<footer id="footer" class="footer">

		<div class="container footer-top">
			<div class="row gy-4">
				<div class="col-lg-5 col-md-12 footer-about">
					<a href="index.html" class="logo d-flex align-items-center">
						<span class="sitename">THIÊN ÂN LOGISTICS</span>
					</a>
					<p>CÔNG TY TNHH DỊCH VỤ VẬN TẢI & XUẤT NHẬP KHẨU THIÊN ÂN LOGISTICS</p>
					<p><strong>Văn phòng chính: </strong>120/24 Đường Đỗ Tân Phong, KP Đông Thành, Phường Tân Đông Hiệp, TP Dĩ An, Tỉnh Bình Dương</p>
					<p class="mt-4"><strong>Điện thoại:</strong> <span>+84 39 7982 894</span></p>
					<p><strong>Email:</strong> <span>thienanlogisticsbd@gmail.com</span></p>
					<p>GPKD số 3502288230 do SKHĐT BD cấp ngày 03/09/2015</p>
					<div class="social-links d-flex mt-4">
						{{!-- <a href=""><i class="bi bi-twitter-x"></i></a> --}}
						<a href=""><i class="bi bi-facebook"></i></a>
						{{!-- <a href=""><i class="bi bi-instagram"></i></a>
						<a href=""><i class="bi bi-linkedin"></i></a> --}}
					</div>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Liên kết nhanh</h4>
					<ul>
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Giới thiệu</a></li>
						<li><a href="#">Dịch vụ</a></li>
						<li><a href="#">Tuyển dụng</a></li>
						<li><a href="#">Chính sách</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Dịch vụ của chúng tôi</h4>
					<ul>
						<li><a href="#">Dv Đại lý Hải Quan</a></li>
						<li><a href="#">Dv Xuất nhập khẩu hàng hoá</a></li>
						<li><a href="#">Dv Vận tải đường bộ</a></li>
						<li><a href="#">Dv Xếp dỡ hàng hoá tại kho, cảng</a></li>
						{{!-- <li><a href="#">Graphic Design</a></li> --}}
					</ul>
				</div>

				<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
					<h4>Thống kê truy cập</h4>
					<p>Online</p>
					<p>Tổng truy cập</p>
					
				</div>

			</div>
		</div>

		<div class="container copyright text-center mt-4">
			<p>© <span>Copyright</span> <strong class="px-1 sitename">Thienanlogistics</strong> <span>All Rights Reserved</span>
			</p>
			<div class="credits">
				Designed by DcViet<a href="#">DcViet</a>
			</div>
		</div>

	</footer>

	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendor/php-email-form/validate.js"></script>
	<script src="/assets/vendor/aos/aos.js"></script>
	<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

	<!-- Main JS File -->
	<script src="/assets/js/main.js"></script>

</body>

</html>